@import "../../styles/main.module.scss";

.navbarContainer {
  background-color: $header-background;
  padding: 16px 32px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  @include mobile {
    padding: 16px 22px;
  }

  img {
    width: 100px;
    flex: 0 0 7.6em;
    display: inline-block;
  }

  .navListContainer {
    display: flex;
    gap: 24px;
  }

  .navHamIconContainer {
    cursor: pointer;
  }

  .navRightContainer{
    display: flex;
    gap: 24px;
    align-items: center;
    button{
      @include tablet {
        display: none;
      }
    }
  }

}

.navLink {
  color: $text-heading;
}

.navSecondaryBtn {
  border-radius: 20px;
  height: auto;
  padding: 0 15px 3px 15px;
  border: 2px solid $text-body;
  color: $text-heading;

  &:hover {
    border: 2px solid $text-heading !important;
    color: $text-heading !important;
  }
}

.sidebarHeader{
  display: flex;
  justify-content: space-between;
}

.navSidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .navItem{
    a{
      color: $text-heading;
      &:hover{
        color: $text-heading;
      }
    }
    .itemTitle{
      font-size: 16px;
      &:hover{
        text-decoration: none;
      }
    }
    .subNav{
      display: flex;
      flex-direction: column;
      margin-left: 4%;
      gap: 4px;
      a{
      color: $text-body;
        &:hover{
          color: $text-body;
        }
      }
    }
  }

}

.sidebarFooter{
  display: flex;
  justify-content: space-between;
  span{
    margin: 0 5px;
  }
  a{
    color: $text-heading;
    &:hover{
      color: $text-heading;
    }
  }
}