@import "../../styles/main.module.scss";

.footerContainer {
    background-color: $footer-background;
    color: $text-heading;
    position: absolute;
    bottom: 0;
    width: 100%;

    .topFooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
        padding: 3% 4%;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 10%;
        }

        .footerLink {
            margin-bottom: 10px;

            @include mobile {
                margin-bottom: 5px;
            }

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;

                @include mobile {
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    text-decoration: none;
                    list-style: none;
                    margin-top: 4px;

                    @include mobile {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .bottomFooter {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        color: $text-body;
        border-top: 1px solid $border-primary;
        padding: 20px;
        flex-wrap: wrap;

        @include mobile {
            font-size: 12px;
        }

        span {
            margin: 0 4px;
        }
    }
}